{% extends 'data/base.html' %}

{% block content %}
<table id="grid"></table>

<script type="text/javascript">
	jQuery(function($){
	
		$('#grid').jqGrid({
			caption: "Grouped Orders 1 Year",
			url: "{% url 'data:all_data' %}",
			postData: { "csrfmiddlewaretoken" : "{{ csrf_token }}", "arg1" : "go" },
			colModel: [
				{% for column in columns %}
					{ name : "{{column}}" },
				{% endfor %}
			],
			dataType: 'json',
			pager: true,
			guiStyle: "bootstrap",
			sortname: "dollar_volume",
			sortorder: "desc",
			autowidth: true,
			viewrecords: true,
			rowList: [20,50,100]
		}).jqGrid('filterToolbar');
	
	});


</script>
{% endblock %}
