{% extends 'data/base.html' %}

{% block content %}
<table id="grid"></table>

<script type="text/javascript">
	jQuery(function($){
	
		$('#grid').jqGrid({
			caption: "All US Items",
			url: "{% url 'data:all_data' %}",
			postData: { "csrfmiddlewaretoken" : "{{ csrf_token }}" },
			colModel: [
				{% for column in columns %}
					{ name : "{{column}}" },
				{% endfor %}
			],
			dataType: 'json',
			pager: true,
			guiStyle: "bootstrap",
			sortname: "index",
			sortorder: "asc",
			autowidth: true,
			viewrecords: true
		}).jqGrid('filterToolbar');
	
	});


</script>
{% endblock %}